p {
    color: purple;
    font-size: 28px;
    font-weight: bolder;
    
}

body {
    background: url(./office/IMG-20250108-WA0013.jpg);
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container {
    color:white;
    font-weight: 10px;
    font-size: 40px;
    margin-left: 5px;
    margin-top: 100px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
}
.price{
    margin-top: 50px;
    align-items: center;
    color: blue;
    margin-left: 5px;
}

button {
    border: none;
    border-radius: 2px;
    padding: 5px 12px;
    background-color: yellow;
}
.aboutus{
   margin-bottom: 100px;
   font-size: 20px;
   font-weight: 40px;
   color: purple;
   margin-top: 300px;
   
   
   
   margin-left: 10px;
}
.h1{
    margin-top: -80px;
    
    margin-left: 80px;
    
}

.h2{
    margin-left: 80px;
    color: purple;
    font-size: 40px ;
    margin-top: -100px;
}
.text{
    margin-left: 270px;
    color: purple;
    margin-bottom: 140px;
    font-size: 30px;
    margin-top: -200px;
    align-items: center;
   
}
.h3{
    margin-top: 120px;
    font-size: 40px;
    margin-left: 80px;
    color: purple;
}
.h4{
    margin-left: 80px;
    margin-top: -10px;
}
.contact{
    margin-left: 30px;
    margin-top: -30px;
    font-size: 30px;
    color: purple;
    
    
}
button{
    margin-left: 80px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: purple;
    color:white;
    font-size: 20px;
    margin-top: 10px;
}
.store{
    align-items: center;
    margin-left: 50px;
}