p {
    color: green;
    
}

body {
    background: url(./images/dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg);
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container {
    color:green;
    margin-top: -10px;
    font-size: 50px;
    font-weight: 200px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
}
.price{
    margin-top: 550px;
    align-items: center;
    color: blue;
    margin-left: 50px;
}

button {
    border: none;
    border-radius: 2px;
    padding: 5px 12px;
    background-color: yellow;
}
.about-bg
{
	background: url('/images/dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: 85%;
  	background-position-x: 15%;
  	background-position-y: 80%;
}
#about 
{
	margin-top: 500px;
}