p {
    color: green;
    
}

body {
    background: url(./images/dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg);
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container {
    color:white;
    font-weight: 10px;
    font-size: 40px;
    margin-left: 5px;
    margin-top: 100px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
}
.price{
    margin-top: 550px;
    align-items: center;
    color: blue;
    margin-left: 50px;
}

button {
    border: none;
    border-radius: 2px;
    padding: 5px 12px;
    background-color: yellow;
}
.aboutus{
   margin-bottom: 100px;
   font-size: 20px;
   font-weight: 40px;
   color: green;
   margin-top: 300px;
   
   
   
   margin-left: 10px;
}
.h1{
    margin-top: 50px;
}